<!-- footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <ul class="contacts list-unstyled">
                  <li class="contact"><a class="contact" href="mailto:<%= global.email %>"><%= global.email %></a></li>
                  <li class="contact"><a class="contact" href="tel:<%= global.phone %>"><%= global.phone %></a></li>
                  <li class="contact">
                    <a class="sn" href="http://twitter.com/enreda" target="_blank">
                        <span class="fa-stack">
                          <i class="fa fa-circle fa-stack-2x"></i>
                          <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                        </span>
                    </a>
                    <a class="sn" href="https://www.facebook.com/enreda.coop" target="_blank">
                        <span class="fa-stack">
                          <i class="fa fa-circle fa-stack-2x"></i>
                          <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                        </span>
                    </a>
                  </li>
                </ul>
            </div>
            <div class="col-md-8">
                <ul class="list-inline pull-right">
                    <li>
                        <a href="/cooperativa">Cooperativa</a>
                    </li>
                    <li class="footer-menu-divider">|</li>
                    <li>
                        <a href="/lineas">Líneas</a>
                    </li>
                    <li class="footer-menu-divider">|</li>
                    <li>
                        <a href="/trabajos">Trabajos</a>
                    </li>
                    <li class="footer-menu-divider">|</li>
                    <li>
                        <a href="/blog">Blog</a>
                    </li>
                </ul>
                <br/>
                <br/>
                <img src="/assets/images/coop.png" class="pull-right" width="150px" alt="Logo de la identidad de las cooperativas" />
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <p class="copyright text-muted small">
                <strong><%= global.current_year %>, <%= global.site_name %></strong><br/>
                <%= global.copyleft %>
            </p>
            </div>
        </div>
    </div>
</footer>
<!-- end footer -->
