<!-- prefooter -->
<div id="prefooter">
    <div class="container">
        <div class="row">
            <div class="col-sm-3 col-sm-offset-2 text-center">
                <img src="http://somos.coop/images/logo-foot.png" alt="Logo de somos.coop" title="Logo de somos.coop" />
            </div>
            <div class="col-sm-5">
                <h3>La identidad de las cooperativas</h3>
                <p><a href="http://somos.coop">Registra ahora tu dominio .coop</a> y súmate al movimiento cooperativo internacional en el que se encuentran cientos de miles de empresas que apuestan por una economía centrada en las personas.</p>
                <p><strong><a href="https://twitter.com/search?q=%23somoscoop&src=typd">#SomosCOOP</a></strong></p>
                
            </div>
        </div>
        <div class="row">
            <div class="separator col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1"></div>
        </div>
    </div>
</div>
<!-- end prefooter -->

<!-- footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <ul class="contacts list-unstyled">
                  <li class="contact"><a class="contact" href="mailto:<%= global.email %>"><%= global.email %></a></li>
                  <li class="contact"><a class="contact" href="tel:<%= global.phone %>"><%= global.phone %></a></li>
                  <li class="contact md">
                    <p>
                    <%= global.address1 %><br/>
                    <%= global.address2 %><br/>
                    <%= global.zipcode %> <%= global.city %>
                    </p>
                  </li>
                  <li class="contact">
                    <a class="sn" href="http://twitter.com/enreda" target="_blank">
                        <span class="fa-stack">
                          <i class="fa fa-circle fa-stack-2x"></i>
                          <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                        </span>
                    </a>
                    <a class="sn" href="https://www.facebook.com/enreda.coop" target="_blank">
                        <span class="fa-stack">
                          <i class="fa fa-circle fa-stack-2x"></i>
                          <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                        </span>
                    </a>
                  </li>
                </ul>
            </div>
            <div class="col-md-8">
                <ul class="list-inline pull-right">
                    <li>
                        <a href="/cooperativa">Cooperativa</a>
                    </li>
                    <li class="footer-menu-divider">|</li>
                    <li>
                        <a href="/lineas">Líneas</a>
                    </li>
                    <li class="footer-menu-divider">|</li>
                    <li>
                        <a href="/trabajos">Trabajos</a>
                    </li>
                    <li class="footer-menu-divider">|</li>
                    <li>
                        <a href="http://blog.enreda.coop" target="_blank">Blog</a>
                    </li>
                </ul>
                <br/>
                <br/>
                <img src="/assets/images/coop.png" class="pull-right" width="150px" alt="Logo de la identidad de las cooperativas" />
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <p class="copyright text-muted small text-center">
                    <img src="/assets/images/50x50gris777-01.png" class="center img-responsive" alt="Logo de Enreda" width="50px" />
                    <strong><%= global.current_year %>, <%= global.site_name %></strong><br/>
                    <%= global.copyleft %>
                </p>
            </div>
        </div>
    </div>
    <section class="cookies-wrapper">
       <div class="col-sm-12 text-center">
                Las cookies nos ayudan a proporcionar nuestros servicios. Usando nuestros servicios, está de acuerdo con nuestro uso de cookies. <a href="/cookies">Aprender más</a><a href="#" class="btn btn-primary">Aceptar</a>
        </div>
    </section>
</footer>
<!-- end footer -->
