<% include common/start %>

<% include common/header %>

<div id="cooperative" class="wrapper">

    <section id="intro">
        <div style="padding:0 15px;">
            <div class="row">
                <div class="col-md-3 text-center title">
                    <img src="/assets/images/cooperative/<%= data.logo %>" alt="Logo de Enreda" width="240px" />
                </div>
                <div class="col-md-9 description">
                    <div class="row">
                        <div class="col-md-6 col-md-offset-5 col-sm-12 text-center">
                            <%= data.intro %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="principles">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <h2 class="section-heading"><%= data.principles.title %></h2>
                    <h3 class="section-subheading text-muted"><%= data.principles.subtitle %></h3>
                </div>
            </div>
            <div class="row text-center">
                <% for(var i=0; i<data.principles.items.length; i++) { %>
                    <div class="col-sm-4">
                        <span class="fa-stack fa-4x">
                            <i class="fa fa-circle fa-stack-2x text-primary"></i>
                            <i class="fa <%= data.principles.items[i].icon %> fa-stack-1x fa-inverse"></i>
                        </span>
                        <h3 class="principle-heading"><%= data.principles.items[i].title %></h3>
                        <p class="text-muted"><%= data.principles.items[i].description %></p>
                    </div>
                <% } %>
            </div>
        </div>
    </section>

    <section id="team">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <h2 class="section-heading"><%= data.team.title %></h2>
                    <h3 class="section-subheading text-muted"><%= data.team.subtitle %></h3>
                </div>
            </div>
            <div class="row">
                <!-- For converting photos: convert pic.jpg -colorspace Gray -resize 300x300^ -gravity Center -crop 300x300+0+0 +repage picnew.jpg -->
                <% for(var i=0; i<data.team.people.length; i++) { %>
                    <div class="col-sm-4">
                        <div class="team-member">
                            <img src="/assets/images/cooperative/people/<%= data.team.people[i].photo %>" class="img-responsive img-circle" alt="Foto de <%= data.team.people[i].name %>" width="200" height="200" />
                            <h4><%= data.team.people[i].name %></h4>
                            <p class="text-muted"><%= data.team.people[i].position %></p>
                            <p><span class="label label-custom-primary"><%= data.team.people[i].role %></span></p>
                            <ul class="list-inline social-buttons">
                                <% if (data.team.people[i].web != '') { %>
                                    <li><a href="<%= data.team.people[i].web %>" target="_blank" title="web de <%= data.team.people[i].name %>"><i class="fa fa-external-link-square"></i></a></li>
                                <% } %>
                                <% if (data.team.people[i].email != '') { %>
                                    <li><a href="mailto:<%= data.team.people[i].email %>" target="_blank" title="<%= data.team.people[i].email %>"><i class="fa fa-envelope"></i></a></li>
                                <% } %>
                                <% if (data.team.people[i].twitter != '') { %>
                                    <li><a href="https://twitter.com/<%= data.team.people[i].twitter %>" target="_blank" title="twitter de <%= data.team.people[i].name %>"><i class="fa fa-twitter"></i></a></li>
                                <% } %>
                                <% if (data.team.people[i].linkedin != '') { %>
                                    <li><a href="<%= data.team.people[i].linkedin %>" target="_blank" title="linkedin de <%= data.team.people[i].name %>"><i class="fa fa-linkedin"></i></a></li>
                                <% } %>
                                <% if (data.team.people[i].github != '') { %>
                                    <li><a href="https://github.com/<%= data.team.people[i].github %>" target="_blank" title="github de <%= data.team.people[i].name %>"><i class="fa fa-github"></i></a></li>
                                <% } %>
                            </ul>
                        </div>
                    </div>
                <% } %>
            </div>
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2 text-center">
                    <p class="large text-muted"><!--Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut eaque, laboriosam veritatis, quos non quis ad perspiciatis, totam corporis ea, alias ut unde.--></p>
                </div>
            </div>
        </div>
    </section>

    <section id="partof">
        <div class="container">
            <div class="row">
                <div id="join" class="col-sm-3 col-sm-offset-2 text-center">
                    <h5><%= data.join.title %></h5>
                    <p><%- data.join.description %></p>
                </div>
                <div id="collaborate" class="col-sm-3 col-sm-offset-2 text-center">
                    <h5><%= data.collaborate.title %></h5>
                    <p><%- data.collaborate.description %></p>
                </div>
            </div>
        </div>
    </section>

    <section id="network">
        <img src="/assets/images/cooperative/banner_network.png" />
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <h2 class="section-heading"><%= data.network.title %></h2>
                    <h3 class="section-subheading text-muted"><%= data.network.subtitle %></h3>
                </div>
            </div>
            <div class="row">
                <% for(var i=0; i<data.network.nodes.length; i++) { %>
                    <div class="col-md-3">
                        <a href="<%= data.network.nodes[i].url %>" target="_blank">
                          <div class="node">
                            <h3><%= data.network.nodes[i].name %></h3>
                            <p><%= data.network.nodes[i].description %></p>
                          </div>
                        </a>
                    </div>
                <% } %>
            </div>
        </div>
    </section>

</div>

<% include common/footer %>

<% include common/end %>
