<% include common/start %>

<% include common/header %>

<div id="home-claim" class="wrapper">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 text-center">
                <div class="claim">
                    <h2><%= data.claim %></h2>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="home-blog" class="wrapper">
    <div id="home-blog-title" class="container">
        <div class="row">
            <div class="col-xs-12 text-center">
                <h2><%= data.newstitle %></h2>
            </div>
        </div>
    </div>
    <div id="home-blog-items" class="container">
        <!-- load RSS feeds via JS -->
        <div id="loading-blog-items" class="row">
            <div class="col-xs-12 text-center">
                <p>Obteniendo noticias...</p>
            </div>
        </div>
    </div>
    <div id="home-blog-subscribe" class="container">
        <div class="row">
            <div class="col-xs-12 text-center">
                <h3><%= data.newssubscribe %></h3>
                <form class="form-inline">
                    <div class="form-group">
                        <input type="email" class="form-control" id="exampleInputEmail2" placeholder="Escribe aqui tu email">
                    </div>
                    <button type="submit" class="btn btn-default">Suscribirme</button>
                </form>
            </div>
        </div>
    </div>
</div>


<div id="home-quote" class="wrapper-content">
    <div class="container">
        <div class="row">
            <div class="col-xs-1 text-right">
                <!-- <i class="fa fa-quote-left fa-2x quotesymbol"></i> -->
            </div>
            <div class="col-xs-10 text-center">
                <h4 class="quotetext"><%= data.quotetext %></h4>
            </div>
            <div class="col-xs-1">
                <!-- <i class="fa fa-quote-right fa-2x quotesymbol"></i> -->
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4 col-sm-offset-4 col-xs-6 col-xs-offset-3 text-center">
                <hr>
                <h6 class="quoteauthor"><%= data.quoteauthor %></h6>
            </div>
        </div>
    </div>
</div>
<% include common/footer %>

<% include common/end %>