<% include common/start %>

<% include common/header %>

<div id="works" class="wrapper-content">    
    <% for(var i=0; i<data.items.length; i++) { %>
        <a class="jump" href="<%= data.items[i].url %>" alt="<%= data.items[i].title %>" title="<%= data.items[i].title %>">
            <div class="container">
                <div class="row work <%= data.items[i].class %>">
                    <% if (i % 2 == 0) { %>
                        <div class="col-sm-6 image">
                            <img src="/assets/images/works/<%= data.items[i].logo %>" alt="Logo de <%= data.items[i].title %>" height="200" />
                        </div>
                        <div class="col-sm-6 title">
                            <h2><%= data.items[i].title %></h2>
                        </div>
                    <% } else { %>
                        <div class="col-sm-6 col-sm-push-6 image">
                            <img src="/assets/images/works/<%= data.items[i].logo %>" alt="Logo de <%= data.items[i].title %>" height="200" />
                        </div>
                        <div class="col-sm-6 col-sm-pull-6 title">
                            <h2><%= data.items[i].title %></h2>
                        </div>
                    <% } %>
                </div>
            </div>
        </a>
    <% } %>
</div>

<% include common/footer %>

<% include common/end %>