<% include common/start %>

<% include common/header %>

<div id="work" class="<%= data.class %> wrapper">
    
    <section id="intro">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 text-center logo">
                    <img src="/assets/images/works/<%= data.logo %>" alt="Logo de <%= data.title %>" />
                </div>
            </div>
        </div>
    </section>

    <section id="info">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <h2><%= data.subtitle %></h2>
                    <hr/>
                    <p><%= data.description %></p>
                    <% if (data.url != '') { %>
                        <br>
                        <p><a href="<%= data.url %>" class="btn btn-default" target="_blank"><i class="fa fa-binoculars"></i> Ver en vivo</a></p>
                    <% } %>
                </div>
                <div class="col-sm-6 text-center">
                    <img src="/assets/images/works/<%= data.screenshot %>" alt="Captura de <%= data.title %>" height="400" class="img-responsive" />
                </div>
            </div>
        </div>
    </section>

    <section id="keys">
        <div class="container">
            <div class="row">
                <% for(var i=0; i<data.keys.length; i++) { %>
                    <div class="col-sm-4">
                        <div class="key"><%= data.keys[i].key %></div>
                    </div>
                <% } %>
            </div>
        </div>
    </section>

    <% if (data.metricsinfo != "") { %>
        <section id="metrics">
            <div class="container">
                <div class="row text-center">
                    <% for(var i=0; i<data.metrics.length; i++) { %>
                        <div class="col-sm-4">
                            <h4 class="metric">
                                <span class="value"><%= data.metrics[i].value %></span>
                                <br/>
                                <span class="text"><%= data.metrics[i].metric %></span>
                            </h4>
                        </div>
                    <% } %>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-sm-offset-3 col-xs-12 text-center metricsinfo">
                        <small><%= data.metricsinfo %></small>
                    </div>
                </div>
            </div>
        </section>
    <% } %>

    <section id="technologies">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 text-center">
                    <h6 class="title">TECH</h6>
                </div>
                <div class="col-sm-6">
                    <div class="row">
                        <% for(var i=0; i<data.technologies.length; i++) { %>
                            <div class="col-sm-3 text-center">
                                <a class="tech" href="<%= data.technologies[i].url %>" target="_blank" title="<%= data.technologies[i].technology %>">
                                    <img src="<%= data.technologies[i].logo %>" alt="Logo de <%= data.technologies[i].technology %>" />
                                    <h6><%= data.technologies[i].technology %></h6>
                                </a>
                            </div>
                        <% } %>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <% if (data.own == "no") { %>
        <section id="client">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 text-center">
                        <h6 class="title">CLIENTE</h6>
                    </div>
                    <div class="col-sm-6 text-center">
                        <a class="name" href="<%= data.clienturl %>" target="_blank"><%= data.clientname %></a>
                        <br/>
                        <span class="description"><%= data.clientdescription %></span>
                        <br/>
                        <span class="year"><i class="fa fa-calendar"></i> <%= data.clientyear %></span>
                        <br/>
                    </div>
                </div>
            </div>
        </section>
    <% } %>

    <% if (data.media.length > 0) { %>

        <section id="media" class="media-line">
            <div class="section-heading">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 text-center">
                            <h4>Algunas apariciones en medios</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <% for(var i=0; i<data.media.length; i++) { %>
                            <div class="col-sm-3">
                                <a href="<%= data.media[i].url %>" alt="<%= data.media[i].name %>" title="<%= data.media[i].name %>">
                                    <div class="media <%= data.media[i].class %>">
                                        <img src="/assets/images/media/<%= data.media[i].image %>" alt="Logo de <%= data.media[i].name %>" />
                                    </div>
                                    </a>
                            </div>
                    <% } %>
                </div>
            </div>
        </section>
    <% } %>

    <section id="call">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <h4><%= data.calltoaction.call %></h4>
                </div>
            </div>
        </div>
    </section>

</div>

<% include common/footer %>

<% include common/end %>
