<% include common/start %>

<% include common/header %>

<div id="works" class="wrapper-content">
    <div class="section-heading">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <h2><%= data.title %></h2>
                    <h3 class="text-muted"><%= data.subtitle %></h3>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <% for(var i=0; i<data.items.length; i++) { %>
                    <div class="col-sm-4">
                        <a href="<%= data.items[i].url %>" alt="<%= data.items[i].title %>" title="<%= data.items[i].title %>">
                            <div class="work <%= data.items[i].class %>">
                                <img src="/assets/images/works/<%= data.items[i].logo %>" alt="Logo de <%= data.items[i].title %>" />
                            </div>
                            </a>
                    </div>
            <% } %>
            <div class="col-sm-4">
                <a href="mailto:<%= global.email %>" alt="Cuéntamos tu idea" title="Cuéntamos tu idea">
                    <div class="work idea">
                        <div class="text">
                            <i class="fa fa-lightbulb-o fa-4x"></i>
                            <h4>Cuéntamos tu idea</h4>
                        </div>
                    </div>
                    </a>
            </div>
        </div>
    </div>
</div>

<% include common/footer %>

<% include common/end %>